@font-face {
  font-family: "Roboto";
  src:
    url("Roboto-Black.woff2") format("woff2"),
    url("Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("Roboto-Bold.woff2") format("woff2"),
    url("Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("Roboto-Regular.woff2") format("woff2"),
    url("Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #621402;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.container {
  margin: auto;
  max-width: 1170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-bottom: 60px;
  background:
    linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%),
    url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav {
  position: relative;
}

.logo {
  margin-right: 57px;
}

.m-menu {
  display: none;
}

.menu {
  list-style-type: none;
  display: flex;
}
.menu-item {
  margin-right: 25px;
}
.menu-link {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.user {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user-hello_text {
  font-size: 16px;
}
.user-avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: 11px;
}

.film {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.film-info {
  width: 50%;
}

.film-subtitle {
  font-size: 24px;
  line-height: 150%;
  opacity: 0.5;
}

.film-title {
  margin: 11px 0 23px;
  font-weight: 700;
  font-size: 36px;
}

.film-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.film-trailer {
  margin: auto;
}

.film-details {
  display: flex;
  margin-top: 51px;
}

.time {
  margin-right: 34px;
  display: flex;
  align-items: center;
}

.time-counter {
  margin-left: 14px;
  font-size: 16px;
  line-height: 150%;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-counter {
  margin-left: 12px;
  line-height: 150%;
  font-size: 16px;
}

.rating-current {
  font-weight: 700;
  font-size: 24px;
}

.session {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 62px;
  padding: 46px 0 64px;
  border-top: 1px solid #ffffff80;
  border-bottom: 1px solid #ffffff80;
}

.session-date-block {
  display: flex;
  margin-top: 20px;
}

.session-date-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 9px 27px;
  border: 1px solid #ffffff80;
  border-radius: 5px;
  align-items: center;
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: background-color 0.2s;
}

.session-mounf {
  font-size: 16px;
  line-height: 19px;
}
.session-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}

.session-week {
  font-size: 16px;
  line-height: 22px;
}

.session-date-item:hover {
  background-color: #fe8e05;
  color: #621402;
}

.select {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #fff;
  padding: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.select option {
  background-color: #621402;
  color: #fff;
  padding: 10px;
}

.select-cinema {
  width: 470px;
}

.scheme {
  background: rgba(36, 36, 36, 0.18);
  border-radius: 10px;
  margin-bottom: 40px;
}

.scheme-svg {
  max-width: 1170px;
}

.scheme path:not(.light) {
  fill: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.scheme path:not(.light):hover {
  fill: rgba(255, 255, 255, 0.5);
}

.scheme path.active,
.scheme path.active:hover {
  fill: #fe8e05;
}

.scheme path.booked,
.scheme path.booked:hover {
  fill: rgba(255, 255, 255, 0.05);
  cursor: not-allowed;
}

.legend {
  display: flex;
  align-items: center;
  border-top: 1px solid #ffffff80;
  max-width: 1024px;
  width: 90%;
  margin: auto;
  padding: 22px 0 38px;
}

.legend-free,
.legend-active,
.legend-booked {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.legend svg {
  margin-right: 15px;
}

.legend-text {
  color: rgba(255, 255, 255, 0.5);
}

.price {
  padding: 20px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-tag {
  font-size: 52px;
  line-height: 61px;
}

.price-label {
  display: block;
  font-size: 18px;
  line-height: 21px;
}

.button {
  display: block;
  background: #fe8e05;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 24px 52px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .select-cinema {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .session {
    flex-wrap: wrap;
  }
  .session-date {
    flex-basis: 70%;
    margin-bottom: 40px;
  }
  .session-time {
    order: 2;
  }
  .session-cinema {
    order: 3;
  }
  .menu-item {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
    width: 90%;
  }

  .logo {
    margin-right: 0;
  }
  .menu {
    position: absolute;
    left: 0;
    top: 40px;
    padding: 20px;
    margin-left: 10px;
    flex-direction: column;
    margin-left: 35px;
    background-color: #621402;
    z-index: 10;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition:
      opacity 0.5s,
      transform 0.5s;
  }

  .menu-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .m-menu {
    display: block;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 20px;
    padding: 20px;
  }
  .is-open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .film {
    flex-direction: column;
  }
  .film-info {
    width: 100%;
  }
  .film-trailer {
    margin: 30px;
  }

  .legend {
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media (max-width: 450px) {
  .session-date-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .session-date-item {
    margin-right: 0;
  }

  .select {
    font-size: 14px;
    padding: 12px;
    max-width: 100%;
  }

  .menu {
    margin-left: 0;
  }

  .m-menu {
    margin: 0;
  }

  .navbar {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .logo {
    margin-right: 0;
  }

  .user {
    margin-left: auto;
    margin-right: auto;
  }

  .film-trailer {
    margin: 50px;
  }

  .film-trailer img {
    width: 55px;
  }

  .legend {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .price-tag {
    font-size: 35px;
    line-height: 61px;
  }

  .button {
    padding: 15px 20px;
  }
}
